<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Home</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/our-services">Our Services</a>
    <a href="/contact-us">Contact Us</a>
  </nav>

  <h1>Welcome to AdventureX</h1>
  <p>We bring you Extreme Sports and Adventure Tourism for Thrill-Seekers and Nature Lovers.</p>

  <section class="card-container">
    <div class="card">
      <img src="https://koa.com/blog/images/friends-on-a-hike.jpg?preset=blogPhoto" alt="Home Image 1">
      <p>Explore the Wild with Us.</p>
    </div>
    <div class="card">
      <img src="https://visitclearcreek.com/wp-content/uploads/2020/06/clearcreekcounty_Rafters.jpg" alt="Home Image 2">
      <p>Adventure Awaits.</p>
    </div>
    <div class="card">
      <img src="https://www.visitdubai.com/-/media/gathercontent/poi/s/skydive-dubai/fallback-image/sky-dive-dubai-3.jpg" alt="Home Image 3">
      <p>The Ultimate Thrill-Seeking Experience.</p>
    </div>
  </section>
</body>
</html>
