<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title>Our Services</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/our-services">Our Services</a>
    <a href="/contact-us">Contact Us</a>
  </nav>

  <h1>Our Services</h1>
  <p>We provide Services such as Guided Hiking Tours, Adventure Sports Packages and Custom Itineraries for Outdoor Enthusiasts.</p>

  <section class="card-container">
    <div class="card">
      <img src="https://cdn.outsideonline.com/wp-content/uploads/2023/04/guided-hike_h.jpg" alt="Service Image 1">
      <p>Guided Hiking Tours</p>
    </div>
    <div class="card">
      <img src="https://res.cloudinary.com/manawa/image/private/f_auto,c_limit,w_3840,q_auto/1e7ee80105646083ca211f51bfce0fc8" alt="Service Image 2">
      <p>Extreme Sports Packages</p>
    </div>
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGyZnQay5JbdDeOm8ezYLlaDuhYUQYX7hO9Q&s" alt="Service Image 3">
      <p>Custom Adventure Itineraries</p>
    </div>
  </section>
</body>
</html>
